/* general styles */
body {
  font-family: Arial, sans-serif;
  background-color: #1d2c4f;
  color: #fff;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
}

/* header styles */
.header {
  background-color: #0099FF;
  padding: 20px;
  text-align: center;
}

.header h1 {
  font-size: 48px;
  margin: 0;
  padding: 0;
  color: #fff;
  text-shadow: 2px 2px #333;
}

.header p {
  font-size: 24px;
  margin: 0;
  padding: 0;
  color: #fff;
  text-shadow: 2px 2px #333;
}

/* container styles */
.container {
  width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* form styles */
.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  font-size: 16px;
  background-color: #f7f7f7;
  color: #333;
}

.form-control:focus {
  outline: none;
  border-color: #0099FF;
}

/* button styles */
button[type="submit"],
button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #0099FF;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover,
button:hover {
  background-color: #0077CC;
}

/* error message styles */
.error {
  color: #FF0000;
  font-size: 16px;
  margin-top: 10px;
}

/* navigation styles */
nav {
  background-color: #1A1A1D;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  background-color: #333;
}
